#navbar{
    position: sticky;
}

header {
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #fff;
  }
  
  header::after {
    content: '';
    background-color:tomato;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.7;
  }
  
  header * {
    position: relative;
    z-index: 1;
  }
  
  header h1 {
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: center;
  }
  
    
    header p {
      font-size: 30px;
      margin: 0;
      text-align: center;
    }
    section {
      text-align: center;
      padding: 20px;
    }
  
  
    footer {
      clear: both;
      width: 100%;
    
      background:black;
      color: white;
      padding: 9px 20px;
    }
    .center {
      text-align: center;
    }